.popups_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 110;
  transition: all 0.4s;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.popups_backdrop:not(.active) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.popups_item {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 37px 29px 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  width: 750px;
  max-width: 90vw;
  z-index: 120;
  max-height: 95vh;
  overflow: auto;
  transition: all 0.4s;
}
.popups_item:not(.active) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.popups_item--top {
  padding: 0 0 24px;
  border-bottom: 0.5px solid #B9B9B9;
  margin-bottom: 17px;
}
.popups_title {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
}
.popups_close {
  position: absolute;
  top: 30px;
  right: 34px;
  width: 29px;
  height: 19px;
  cursor: pointer;
}
.popups_close img {
  width: 13px;
  height: 13px;
}

.input_row {
  display: flex;
  align-items: center;
  grid-gap: 28px;
  padding-bottom: 30px;
}
.input_row:last-of-type {
  padding-bottom: 0;
}
.input_row .input_wrap {
  width: 100%;
}
.input_row .input_wrap.error textarea {
  border-color: #8F2C23;
  outline: #8F2C23;
}
.input_row .input_wrap.error .input_wrap--notice_error {
  display: block;
}
.input_row .input_wrap.with_checkbox {
  display: flex;
}
.input_row .input_wrap.with_checkbox input {
  display: none;
}
.input_row .input_wrap.with_checkbox input:checked ~ label::before {
  background-color: #5E97FF;
  background-image: url("../img/ico/accept.svg");
}
.input_row .input_wrap.with_checkbox label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  padding-left: 22px;
  position: relative;
  cursor: pointer;
}
.input_row .input_wrap.with_checkbox label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #5E97FF;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.input_row .input_wrap label {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 8px;
}
.input_row .input_wrap input, .input_row .input_wrap textarea {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 17px;
  line-height: 20px;
  min-height: 45px;
  padding: 13px 14px;
  width: 100%;
  resize: none;
  font-family: "Montserrat", sans-serif;
}
.input_row .input_wrap input::placeholder, .input_row .input_wrap textarea::placeholder {
  color: #5F5E5E;
}
.input_row .input_wrap textarea {
  height: 94px;
}
.input_row .input_wrap--notice {
  margin-top: 8px;
  display: flex;
  grid-gap: 67px;
}
.input_row .input_wrap--notice_error {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.002em;
  color: #8F2C23;
  position: relative;
  padding-left: 31px;
  display: none;
}
.input_row .input_wrap--notice_error:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 14px;
  height: 14px;
  background-image: url("../img/ico/error.svg");
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.input_row .input_wrap--notice_descr {
  margin-left: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  text-align: right;
  opacity: 0.6;
  min-width: 150px;
}
.input_row .settings_button-blue {
  margin-left: auto;
}

.page_menu {
  margin-top: 0;
  padding: 12px 0;
  border-bottom: 0.5px solid #BBBBBB;
  position: fixed;
  top: 105px;
  width: 100%;
  background: #fff;
  z-index: 3;
}
.page_menu--list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
  grid-gap: 3px;
}
.page_menu--list_item a {
  padding: 13px 22px;
  color: inherit;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 30px;
  border: 1px solid transparent;
}
.page_menu--list_item a:hover {
  border-color: #201F28;
}

.section_title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.skills_section--list {
  list-style: none;
}
.skills_section--list_item {
  padding-left: 37px;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 17px;
  position: relative;
}
.skills_section--list_item:last-of-type {
  margin-bottom: 0;
}
.skills_section--list_item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_section--list_item:nth-of-type(1)::before {
  transition: all 1ms;
  content: "1";
}
.skills_section--list_item:nth-of-type(2)::before {
  transition: all 2ms;
  content: "2";
}
.skills_section--list_item:nth-of-type(3)::before {
  transition: all 3ms;
  content: "3";
}
.skills_section--list_item:nth-of-type(4)::before {
  transition: all 4ms;
  content: "4";
}
.skills_section--list_item:nth-of-type(5)::before {
  transition: all 5ms;
  content: "5";
}
.skills_section--list_item:nth-of-type(6)::before {
  transition: all 6ms;
  content: "6";
}
.skills_section--list_item:nth-of-type(7)::before {
  transition: all 7ms;
  content: "7";
}
.skills_section--list_item:nth-of-type(8)::before {
  transition: all 8ms;
  content: "8";
}
.skills_section--list_item:nth-of-type(9)::before {
  transition: all 9ms;
  content: "9";
}
.skills_section--list_item:nth-of-type(10)::before {
  transition: all 10ms;
  content: "10";
}
.skills_section--list_item:nth-of-type(11)::before {
  transition: all 11ms;
  content: "11";
}
.skills_section--list_item:nth-of-type(12)::before {
  transition: all 12ms;
  content: "12";
}
.skills_section--list_item:nth-of-type(13)::before {
  transition: all 13ms;
  content: "13";
}
.skills_section--list_item:nth-of-type(14)::before {
  transition: all 14ms;
  content: "14";
}
.skills_section--list_item:nth-of-type(15)::before {
  transition: all 15ms;
  content: "15";
}
.skills_section--list_item:nth-of-type(16)::before {
  transition: all 16ms;
  content: "16";
}
.skills_section--list_item:nth-of-type(17)::before {
  transition: all 17ms;
  content: "17";
}
.skills_section--list_item:nth-of-type(18)::before {
  transition: all 18ms;
  content: "18";
}
.skills_section--list_item:nth-of-type(19)::before {
  transition: all 19ms;
  content: "19";
}
.skills_section--list_item:nth-of-type(20)::before {
  transition: all 20ms;
  content: "20";
}
.skills_section--list_item:nth-of-type(21)::before {
  transition: all 21ms;
  content: "21";
}
.skills_section--list_item:nth-of-type(22)::before {
  transition: all 22ms;
  content: "22";
}
.skills_section--list_item:nth-of-type(23)::before {
  transition: all 23ms;
  content: "23";
}
.skills_section--list_item:nth-of-type(24)::before {
  transition: all 24ms;
  content: "24";
}
.skills_section--list_item:nth-of-type(25)::before {
  transition: all 25ms;
  content: "25";
}
.skills_section--list_item:nth-of-type(26)::before {
  transition: all 26ms;
  content: "26";
}
.skills_section--list_item:nth-of-type(27)::before {
  transition: all 27ms;
  content: "27";
}
.skills_section--list_item:nth-of-type(28)::before {
  transition: all 28ms;
  content: "28";
}
.skills_section--list_item:nth-of-type(29)::before {
  transition: all 29ms;
  content: "29";
}
.skills_section--list_item:nth-of-type(30)::before {
  transition: all 30ms;
  content: "30";
}

.selectric {
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 27px;
  padding: 13px 18px 11px;
  min-width: 182px;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.selectric .label {
  height: auto;
  line-height: inherit;
  margin: 0 42px 0 0;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.selectric .button {
  width: 42px;
  right: 0;
  height: 100%;
  background-color: #fff;
  color: transparent;
  background-image: url("../img/ico/down-ico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  transition: all 0.4s;
}
.selectric .button:after {
  display: none;
}
.selectric-items {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  overflow: hidden;
  border: none;
  padding-top: 42px;
  top: 0;
  min-width: 100%;
  max-width: 100%;
}
.selectric-items li {
  padding: 13px 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #000;
  position: relative;
}
.selectric-items li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 15px;
  height: 15px;
  transition: all 0.4s;
  background-image: url("../img/ico/accept_grey.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.selectric-items li.selected, .selectric-items li:hover {
  background-color: #F5F6FA;
}
.selectric-items li.selected:after, .selectric-items li:hover:after {
  background-image: url("../img/ico/accept.svg");
}

.selectric-open {
  z-index: 10;
}
.selectric-open .button {
  transform: rotate(180deg);
}
.selectric-open .selectric {
  border-color: #201F28;
}

@media only screen and (max-width: 1439px) {
  .popups_item {
    padding: 2.5678vw 2.0126vw 2.429vw;
    box-shadow: 0px 0px 1.1104vw rgba(0, 0, 0, 0.1);
    border-radius: 0.9022vw;
    width: 52.05vw;
  }
  .popups_item--top {
    padding: 0 0 1.6656vw;
    border-bottom: 0.0347vw solid #B9B9B9;
    margin-bottom: 1.1798vw;
  }
  .popups_title {
    font-size: 1.4574vw;
    line-height: 1.9432vw;
  }
  .popups_close {
    top: 2.082vw;
    right: 2.3596vw;
    width: 2.0126vw;
    height: 1.3186vw;
  }
  .popups_close img {
    width: 0.9022vw;
    height: 0.9022vw;
  }
  .input_row {
    grid-gap: 1.9432vw;
    padding-bottom: 2.082vw;
  }
  .input_row .input_wrap.with_checkbox label {
    font-size: 1.041vw;
    padding-left: 1.5268vw;
  }
  .input_row .input_wrap.with_checkbox label::before {
    width: 0.9716vw;
    height: 0.9716vw;
    border-radius: 0.1388vw;
  }
  .input_row .input_wrap label {
    font-size: 1.1104vw;
    line-height: 1.9432vw;
    margin-bottom: 0.5552vw;
  }
  .input_row .input_wrap input, .input_row .input_wrap textarea {
    border-radius: 0.694vw;
    font-size: 1.1798vw;
    line-height: 1.388vw;
    min-height: 3.123vw;
    padding: 0.9022vw 0.9716vw;
  }
  .input_row .input_wrap textarea {
    height: 6.5236vw;
  }
  .input_row .input_wrap--notice {
    margin-top: 0.5552vw;
    grid-gap: 4.6498vw;
  }
  .input_row .input_wrap--notice_error {
    font-size: 0.9716vw;
    padding-left: 2.1514vw;
  }
  .input_row .input_wrap--notice_error:before {
    top: 0.1388vw;
    left: 0.4164vw;
    width: 0.9716vw;
    height: 0.9716vw;
  }
  .input_row .input_wrap--notice_descr {
    font-size: 0.9022vw;
    min-width: 10.41vw;
  }
  .page_menu {
    margin-top: 0;
    padding: 0.8328vw 0;
    border-bottom: 0.5px solid #BBBBBB;
    top: 7.287vw;
  }
  .page_menu--list {
    font-size: 1.041vw;
    grid-gap: 0.2082vw;
  }
  .page_menu--list_item a {
    padding: 0.9022vw 1.735vw;
    border-radius: 2.082vw;
  }
  .section_title {
    font-size: 1.8738vw;
    margin-bottom: 1.1104vw;
  }
  .skills_section--list_item {
    padding-left: 2.5678vw;
    font-size: 1.2492vw;
    margin-bottom: 1.1798vw;
  }
  .skills_section--list_item::before {
    top: -0.2082vw;
    width: 1.735vw;
    height: 1.735vw;
    border: 1px solid #000000;
  }
  .selectric {
    box-shadow: 0vw 0vw 1.1104vw rgba(0, 0, 0, 0.1);
    border-radius: 1.8738vw;
    padding: 0.9022vw 1.2492vw 0.7634vw;
    min-width: 12.6308vw;
    border: 1px solid transparent;
  }
  .selectric .label {
    margin: 0 2.9148vw 0 0;
    font-size: 1.041vw;
  }
  .selectric .button {
    width: 2.9148vw;
  }
  .selectric-items {
    box-shadow: 0vw 0.2776vw 1.6656vw rgba(0, 0, 0, 0.25);
    border-radius: 1.5962vw;
    padding-top: 2.9148vw;
  }
  .selectric-items li {
    padding: 0.9022vw 1.2492vw;
    font-size: 1.041vw;
    line-height: 1.2492vw;
  }
  .selectric-items li:after {
    right: 0.8328vw;
    width: 1.041vw;
    height: 1.041vw;
  }
}

/*# sourceMappingURL=components.css.map */
