$blue: #5E97FF;
$red: #8F2C23;
$px: 0.0694;

.individual-page {
  background-color: #fff;
  padding-top: 195px;

  .footer {
    background-color: #F5F6FA;
  }
}

.individual-wrapper {
  display: grid;
  grid-template-columns: 2.55fr 1fr;
  grid-gap: 35px;
}

.pictures_section {
  position: relative;
  padding-top: 57px;
  margin-bottom: 71px;

  .section_title {
    position: relative;
    padding-right: 30px;
    font-size: 33px;

    &--like {
      position: absolute;
      top: 20px;
      transform: translateY(-50%);
      right: 0;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/ico/hart_ico.svg');
      cursor: pointer;

      &.active {
        background-image: url('../img/settings_ico/save_solid.svg');
      }
    }
  }

  &--descr {
    display: flex;
    align-items: center;
    margin-bottom: 37px;

    &_item {
      padding: 0 0px 0 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      letter-spacing: -0.4px;
      position: relative;
      margin-right: 38px;

      &:before {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
      }

      &.with-clock {
        &:before {
          background-image: url("../img/ico/watch_ico.svg");
        }
      }

      &.with-position {
        &:before {
          background-image: url("../img/ico/adres_ico.svg");
        }
      }

      &.with-requests {
        &:before {
          background-image: url("../img/ico/request.svg");
        }
      }
    }

    &_theme {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: -0.4px;
      text-transform: capitalize;
      color: #262626;
      padding: 8px 14px;
      background: #F5F6FA;
      border-radius: 50px;
      display: inline-block;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_item {
      overflow: hidden;
    }

    .div1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    .div2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .div3 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .div4 {
      grid-area: 1 / 4 / 3 / 6;
    }

    &_video {
      position: absolute;
      right: 17px;
      bottom: 20px;
      display: flex;
      align-items: center;
      padding: 10px 16px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      background: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 25px;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }

    }
  }


}

.scope_section {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 0.5px solid #B9B9B9;

  .section_title {
    margin-bottom: 21px;
  }

  .scope_list {
    &--item {
      padding-left: 45px;
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 500;
      font-size: 19px;
      line-height: 1.2;
      position: relative;
      margin-bottom: 23px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &_title {
        margin-bottom: 5px;
      }

      &_text {
        font-weight: 400;
        font-size: 15px;
        opacity: 0.5;
      }

    }
  }
}

.skills_section {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 0.5px solid #B9B9B9;

  .section_title {
    margin-bottom: 19px;
  }

  &--top {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    grid-gap: 13px;
    margin-bottom: 21px;

    &_item {
      padding: 12px 20px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: -0.4px;
      text-transform: capitalize;
      color: #262626;
      background: #F5F6FA;
      border-radius: 50px;
    }
  }

}

.schedule_section {
  padding-bottom: 60px;
  padding-right: 60px;
  margin-bottom: 60px;
  border-bottom: 0.5px solid #B9B9B9;
  position: relative;

  &.popups_item {
    position: fixed;
    width: 775px;
    padding: 30px 25px 50px 50px;

    .schedule_datepicker--day .schedule_section--row {
      margin-bottom: -25px;
    }
  }

  .section_title {
    margin-bottom: 11px;
    padding-right: 100px;
  }

  .schedule_descr {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    opacity: 0.5;
    margin-bottom: 30px;
  }

  .schedule_datepicker {
    max-width: 375px;
    width: 100%;
    padding-right: 34px;
    border-right: 0.5px solid #D6D6D6;

    .ui-datepicker {
      &-header {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-title {
        font-size: 19px;
        line-height: 1.2;
        order: 2;
      }

      &-prev.ui-state-disabled {
        background-image: url('../img/ico/left_ico.svg');
        cursor: auto;
      }

      &-next.ui-state-disabled {
        background-image: url('../img/ico/right_ico.svg');
        cursor: auto;
      }

      &-prev {
        position: static;
        width: 14px;
        height: 14px;
        order: 1;
        background-image: url('../img/ico/left_ico_black.svg');
        background-size: contain;
      }

      &-next {
        position: static;
        width: 14px;
        height: 14px;
        order: 3;
        background-image: url('../img/ico/right_ico_black.svg');
        background-size: contain;
      }

      &-calendar {
        width: 100%;

        thead span {
          letter-spacing: -0.4px;
          color: #000;
          opacity: 0.4;
          text-align: center;
          margin-bottom: 0;
          display: inline-block;
          font-family: 'San Francisco', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }

        tbody {
          .ui-state-default {
            border: 1px solid transparent;
            font-family: 'San Francisco', sans-serif;
            font-size: 16px;
            line-height: 1.2;
            width: 41px;
            height: 41px;
          }

          a.ui-state-default:hover,
          .ui-state-default.ui-state-active,
          .with-event a {
            background: #F5F6FA;
            color: #000;
          }

          .ui-state-default.ui-state-active {
            border-color: #201F28;
          }

          .great-day a {
            color: #000;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 6px;
              width: 5px;
              height: 5px;
              background: $blue;
              border-radius: 50%;
            }
          }
        }

      }

    }

    &--day {
      padding: 53px 0 0 34px;
      font-family: 'San Francisco', sans-serif;
      display: flex;
      flex-flow: column;
      width: 100%;

      &_name {
        font-size: 16px;
        line-height: 1.2;
        color: #353535;
        margin-bottom: 12px;
      }

      &_slots {
        margin-bottom: 20px;

        .time_slot {
          font-family: 'San Francisco', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.2;
          text-transform: lowercase;
          max-width: 193px;
          padding: 12px 14px;
          background: #F5F6FA;
          border-radius: 31px;
          margin-bottom: 9px;
          cursor: pointer;
          transition: all 0.4s;
          display: flex;
          align-items: center;
          justify-content: center;

          &:after {
            display: none;
            content: '';
            width: 17px;
            height: 17px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../img/ico/accept.svg");
            background-color: #5E97FF;
            border-radius: 50%;
            border: 1.5px solid #FFFFFF;
            margin-left: 6px;
          }

          &:hover {
            background-color: $blue;
            color: #fff;
          }

          &.active {
            background-color: $blue;
            color: #fff;

            &:after {
              display: block;
            }
          }

        }
      }

      .schedule_section--row {
        margin-top: auto;
      }

      .settings_button-blue {
        margin-left: auto;
        padding: 12px 24px;
        border-radius: 13px;
        transition: all 0.4s;
        opacity: 1;

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

    }
  }

  &--row {
    display: flex;
    justify-content: space-between;
  }

  &--step {
    &:not(.active) {
      display: none;
    }

    &[data-schedule="range"] {
      .schedule_descr {
        padding-right: 260px;
        padding-bottom: 32px;
        border-bottom: 0.5px solid #D6D6D6;
        margin-bottom: 35px;
      }
    }

    .schedule_range {
      max-width: 464px;
      max-height: 240px;
      min-height: 240px;

      &--descr {
        width: 176px;

        .selectric {
          .label {
            margin: 0 0 0 70px;
            text-align: right;
          }

          .button {
            display: none;
          }

          &:after {
            content: '$/hour';
            position: absolute;
            top: 50%;
            left: 18px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.2;
            color: #000000;
            transform: translateY(-50%);
          }
        }

        .range-wrap {
          margin-bottom: 26px;
        }

        .range_title {
          font-family: 'Helvetica Neue', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 8px;
          display: block;

          &.bold {
            font-weight: 500;
            font-size: 19px;
            line-height: 1;
          }
        }

        .settings_button-blue {
          width: 100%;
          padding: 12px 24px;
          border-radius: 13px;
          transition: all 0.4s;
          opacity: 1;
          margin-top: 48px;

          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        .range_input {
          position: relative;

          input {
            background: #fff;
            box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
            border-radius: 27px;
            padding: 13px 18px;
            width: 100%;
            border: 1px solid transparent;
            transition: all 0.4s;
            text-align: right;
            font-size: 15px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &[type=number] {
              -moz-appearance: textfield;
            }

            &::placeholder {
              opacity: 0.2;
            }

          }

          &:after {
            content: '$/hour';
            position: absolute;
            top: 50%;
            left: 18px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.2;
            color: #000000;
            transform: translateY(-50%);
            background: #fff;
          }
        }

      }
    }
  }

  &--question {
    position: absolute;
    top: 30px;
    right: 24px;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.location_section {
  padding-bottom: 60px;

  .location_descr {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    opacity: 0.5;
    margin-bottom: 38px;
  }

  .location_map {
    width: 100%;
    height: 100%;

    &--wrap {
      height: 317px;
      overflow: hidden;
      border-radius: 10px;
    }

    .gmnoprint,
    .gm-fullscreen-control,
    .gm-style-cc {
      display: none;
    }

  }
}

.cart_section {
  position: sticky;
  top: 170px;
  height: fit-content;
  padding: 20px 0 60px;

  .user_categories {
    padding: 25px;

    &--name {
      margin-bottom: 9px;
    }
  }

  &--data {
    padding-bottom: 20px;
    border-bottom: 0.5px solid #D6D6D6;
    margin-bottom: 15px;

    &_item {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      line-height: 1.2;
      color: #000000;
      margin-bottom: 9px;
      padding-left: 27px;
      position: relative;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        top: -1px;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
      }

      &.with-identity {
        &:before {
          background-image: url("../img/ico/identity.svg");
        }
      }

      &.with-payment {
        &:before {
          background-image: url("../img/ico/payment.svg");
        }
      }

      &.with-deposit {
        &:before {
          background-image: url("../img/ico/card-black.svg");
        }
      }

      &.with-contacts {
        &:before {
          background-image: url("../img/ico/phone-black.svg");
        }
      }
    }
  }

  &--rate {
    &_title {
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: -0.4px;
      margin-bottom: 8px;
    }

    &_count {
      display: flex;
      align-items: flex-end;
      margin-bottom: 14px;

      .money {
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;
        margin-right: 6px;

        &_descr {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
  }

  &--estimate {
    background: #FFFFFF;
    border: 0.5px solid #8A8A8A;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 19px;

    &_item {
      padding: 10px 11px;
      font-family: 'Helvetica Neue', sans-serif;

      &:first-of-type {
        border-right: 0.5px solid #8A8A8A;
      }

      .title {
        font-weight: 700;
        font-size: 10px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 3px;
      }

      .text {
        font-size: 15px;
        line-height: 1.2;
      }

    }
  }

  &--requests {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin-bottom: 18px;
  }

  .flex_row {
    display: flex;
    grid-gap: 9px;

    &:not(.active) {
      display: none;
    }

    .settings_button-blue {
      border-radius: 9px;
      width: 100%;
      padding: 14px;
      text-align: center;
      font-size: 15px;
      line-height: 1.2;
    }
  }
}

@media only screen and (max-width: 1439px) {
  .individual-page {
    padding-top: 195vw * $px;
  }

  .individual-wrapper {
    grid-gap: 35vw * $px;
  }

  .pictures_section {
    padding-top: 57vw * $px;
    margin-bottom: 71vw * $px;

    .section_title {
      padding-right: 30vw * $px;
      font-size: 33vw * $px;

      &--like {
        top: 20vw * $px;
        width: 24vw * $px;
        height: 24vw * $px;
      }
    }

    &--descr {
      margin-bottom: 37vw * $px;

      &_item {
        padding: 0 0vw * $px 0 24vw * $px;
        font-size: 16vw * $px;
        letter-spacing: -0.4vw * $px;
        margin-right: 38vw * $px;

        &:before {
          width: 16vw * $px;
          height: 16vw * $px;
        }
      }

      &_theme {
        font-size: 14vw * $px;
        letter-spacing: -0.4vw * $px;
        padding: 8vw * $px 14vw * $px;
        border-radius: 50vw * $px;
      }
    }

    &--grid {
      grid-column-gap: 10vw * $px;
      grid-row-gap: 10vw * $px;
      border-radius: 10vw * $px;

      &_video {
        right: 17vw * $px;
        bottom: 20vw * $px;
        padding: 10vw * $px 16vw * $px;
        font-size: 15vw * $px;
        border-radius: 25vw * $px;

        img {
          width: 18vw * $px;
          height: 18vw * $px;
          margin-right: 6vw * $px;
        }
      }
    }
  }

  .scope_section {
    padding-bottom: 60vw * $px;
    margin-bottom: 60vw * $px;
    border-bottom: 0.5px solid #B9B9B9;

    .section_title {
      margin-bottom: 21vw * $px;
    }

    .scope_list {
      &--item {
        padding-left: 45vw * $px;
        font-size: 19vw * $px;
        margin-bottom: 23vw * $px;

        &_image {
          width: 30vw * $px;
          height: 30vw * $px;
        }

        &_title {
          margin-bottom: 5vw * $px;
        }

        &_text {
          font-size: 15vw * $px;
        }
      }
    }
  }

  .skills_section {
    padding-bottom: 60vw * $px;
    margin-bottom: 60vw * $px;
    border-bottom: 0.5px solid #B9B9B9;

    .section_title {
      margin-bottom: 19vw * $px;
    }

    &--top {
      grid-gap: 13vw * $px;
      margin-bottom: 21vw * $px;

      &_item {
        padding: 12vw * $px 20vw * $px;
        font-size: 15vw * $px;
        letter-spacing: -0.4vw * $px;
        border-radius: 50vw * $px;
      }
    }

  }

  .schedule_section {
    padding-bottom: 60vw * $px;
    padding-right: 60vw * $px;
    margin-bottom: 60vw * $px;
    border-bottom: 0.5px solid #B9B9B9;

    &.popups_item {
      width: 775vw * $px;
      padding: 30vw * $px 25vw * $px 50vw * $px 50vw * $px;

      .schedule_datepicker--day .schedule_section--row {
        margin-bottom: -25vw * $px;
      }
    }

    .section_title {
      margin-bottom: 11vw * $px;
      padding-right: 100vw * $px;
    }

    .schedule_descr {
      font-size: 17vw * $px;
      margin-bottom: 30vw * $px;
    }

    .schedule_datepicker {
      max-width: 375vw * $px;
      padding-right: 34vw * $px;
      border-right: 0.5px solid #D6D6D6;

      .ui-datepicker {
        &-header {
          margin-bottom: 30vw * $px;
        }

        &-title {
          font-size: 19vw * $px;
        }

        &-prev {
          width: 14vw * $px;
          height: 14vw * $px;
        }

        &-next {
          width: 14vw * $px;
          height: 14vw * $px;
        }

        &-calendar {
          thead span {
            letter-spacing: -0.4vw * $px;
            font-size: 14vw * $px;
            line-height: 17vw * $px;
          }

          tbody {
            .ui-state-default {
              border: 1px solid transparent;
              font-size: 16vw * $px;
              width: 41vw * $px;
              height: 41vw * $px;
            }

            .great-day a {

              &:after {
                bottom: 6vw * $px;
                width: 5vw * $px;
                height: 5vw * $px;
              }
            }
          }
        }
      }

      &--day {
        padding: 53vw * $px 0 0 34vw * $px;

        &_name {
          font-size: 16vw * $px;
          margin-bottom: 12vw * $px;
        }

        &_slots {
          margin-bottom: 20vw * $px;

          .time_slot {
            font-size: 16vw * $px;
            max-width: 193vw * $px;
            padding: 12vw * $px 14vw * $px;
            border-radius: 31vw * $px;
            margin-bottom: 9vw * $px;

            &:after {
              width: 17vw * $px;
              height: 17vw * $px;
              border: 1.5vw * $px solid #FFFFFF;
              margin-left: 6vw * $px;
            }
          }
        }

        .settings_button-blue {
          padding: 12vw * $px 24vw * $px;
          border-radius: 13vw * $px;
        }
      }
    }

    &--step {
      &[data-schedule="range"] {
        .schedule_descr {
          padding-right: 260vw * $px;
          padding-bottom: 32vw * $px;
          border-bottom: 0.5px solid #D6D6D6;
          margin-bottom: 35vw * $px;
        }
      }

      .schedule_range {
        max-width: 464vw * $px;
        max-height: 240vw * $px;
        min-height: 240vw * $px;

        &--descr {
          width: 176vw * $px;

          .selectric {
            .label {
              margin: 0 0 0 70vw * $px;
            }

            &:after {
              left: 18vw * $px;
              font-size: 15vw * $px;
            }
          }

          .range-wrap {
            margin-bottom: 26vw * $px;
          }

          .range_title {
            font-size: 14vw * $px;
            line-height: 19vw * $px;
            margin-bottom: 8vw * $px;

            &.bold {
              font-size: 19vw * $px;
            }
          }

          .settings_button-blue {
            padding: 12vw * $px 24vw * $px;
            border-radius: 13vw * $px;
            margin-top: 48vw * $px;
          }

          .range_input {
            input {
              box-shadow: 0vw * $px 0vw * $px 16vw * $px rgb(0 0 0 / 10%);
              border-radius: 27vw * $px;
              padding: 13vw * $px 18vw * $px;
              font-size: 15vw * $px;
              outline: none;
            }

            &:after {
              left: 18vw * $px;
              font-size: 15vw * $px;
            }
          }
        }
      }
    }

    &--question {
      top: 30vw * $px;
      right: 24vw * $px;
      width: 39vw * $px;
      height: 39vw * $px;
      font-size: 22vw * $px;
      line-height: 21vw * $px;
      box-shadow: 0vw * $px 0vw * $px 16vw * $px rgba(0, 0, 0, 0.1);
    }
  }

  .location_section {
    padding-bottom: 60vw * $px;

    .location_descr {
      font-size: 18vw * $px;
      margin-bottom: 38vw * $px;
    }

    .location_map {
      &--wrap {
        height: 317vw * $px;
        border-radius: 10vw * $px;
      }
    }
  }

  .cart_section {
    top: 170vw * $px;
    padding: 20vw * $px 0 60vw * $px;

    .user_categories {
      padding: 25vw * $px;

      &--name {
        margin-bottom: 9vw * $px;
      }
    }

    &--data {
      padding-bottom: 20vw * $px;
      border-bottom: 0.5px solid #D6D6D6;
      margin-bottom: 15vw * $px;

      &_item {
        font-size: 15vw * $px;
        margin-bottom: 9vw * $px;
        padding-left: 27vw * $px;

        &:before {
          width: 18vw * $px;
          height: 18vw * $px;
          top: -1vw * $px;
        }
      }
    }

    &--rate {
      &_title {
        font-size: 15vw * $px;
        letter-spacing: -0.4vw * $px;
        margin-bottom: 8vw * $px;
      }

      &_count {
        margin-bottom: 14vw * $px;

        .money {
          font-size: 25vw * $px;
          margin-right: 6vw * $px;

          &_descr {
            font-size: 16vw * $px;
          }
        }
      }
    }

    &--estimate {
      border: 0.5px solid #8A8A8A;
      border-radius: 6vw * $px;
      margin-bottom: 19vw * $px;

      &_item {
        padding: 10vw * $px 11vw * $px;

        &:first-of-type {
          border-right: 0.5px solid #8A8A8A;
        }

        .title {
          font-size: 10vw * $px;
          margin-bottom: 3vw * $px;
        }

        .text {
          font-size: 15vw * $px;
        }
      }
    }

    &--requests {
      font-size: 15vw * $px;
      letter-spacing: -0.4vw * $px;
      margin-bottom: 18vw * $px;
    }

    .flex_row {
      grid-gap: 9vw * $px;

      .settings_button-blue {
        border-radius: 9vw * $px;
        padding: 14vw * $px;
        font-size: 15vw * $px;
      }
    }
  }

}