.settingsgeeks_titleico:after {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: -3px;
    background: url('../img/settings_ico/clip_ico.webp');
    background-size: 100% 100%;
}
.settingsgeeks .topgeeks_item {
    padding: 15px 10px;
}
.settingsgeeks .topgeeks_item-info {
    width: calc(100% - 80px);
}
.settingsgeeks .topgeeks_item-photo {
    width: 70px;
    height: 70px;
}
.settingsgeeks .topgeeks_item-stats-item {
    padding: 10px 15px 10px 35px;
}
.settingsgeeks .topgeeks_area {
    padding-top: 35px;
}