.settings-page {
  padding-top: 205px;
  background: #fff;
}
.settings-page .footer {
  background: #F5F6FA;
}
.settings-page .settingsmain {
  padding-top: 0;
}
.settings-page .settings {
  padding-top: 0;
}
.settings-page .gigs_list {
  margin-top: 50px;
}
.settings-page.my-profile-page {
  background: #F5F6FA;
}
.settings-page.my-profile-page .profile-wrapper {
  padding-top: 0;
}
.settings-page.my-profile-page .footer {
  background: #fff;
}
.settings-page .profile__details_address {
  position: relative;
}
.settings-page .profile__details_address.editing .add-field {
  display: block;
}
.settings-page .profile__details_address .add-field {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #5E97FF;
  cursor: pointer;
  background-image: url("../../img/ico/plus-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: none;
}
.settings-page .profile__main_header_img {
  position: relative;
}
.settings-page .profile__main_header_img .person-img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../../img/ico/pen-black.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.settings-page .profile__main_header_img .person-img.active {
  display: block;
}
.settings-page .profile__main_header_img .person-img input {
  display: none;
}
.settings-page .profile__main_footer {
  height: 100%;
}
.settings-page .profile__main_footer .settings_button-blue,
.settings-page .profile__main_footer .__edit_profile {
  font-size: 15px;
  line-height: 18px;
  margin-top: auto;
}

.add_card_details {
  position: relative;
}
.add_card_details.edit-form .add-content {
  display: none;
}
.add_card_details.edit-form .edit-content {
  display: block;
}
.add_card_details.add-form .add-content {
  display: block;
}
.add_card_details.add-form .edit-content {
  display: none;
}
.add_card_details__credit_card {
  padding: 32px 84px 27px 27px;
  background: radial-gradient(69.03% 142.7% at 76.67% 43.36%, #5E97FF 27.08%, #B8ACFF 100%);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  height: 226px;
  min-width: 360px;
  position: relative;
}
.add_card_details__credit_card input {
  border: none;
  background: transparent;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.add_card_details__credit_card input::placeholder {
  color: #fff;
  opacity: 0.8;
}
.add_card_details__credit_card input::-webkit-outer-spin-button, .add_card_details__credit_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add_card_details__credit_card input[type=number] {
  -moz-appearance: textfield;
}
.add_card_details #cardName {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 44px;
}
.add_card_details #cardNumber {
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.05em;
  max-width: 270px;
}
.add_card_details #cardNumber::placeholder {
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.05em;
}
.add_card_details #expireDate,
.add_card_details #cvv {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  max-width: 45px;
}
.add_card_details #cvv {
  text-align: right;
}
.add_card_details_row {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  max-width: 270px;
}
.add_card_details--type {
  position: absolute;
  bottom: 22px;
  right: 20px;
  width: 64px;
  height: 20px;
}
.add_card_details--type .mastercard, .add_card_details--type .visa {
  display: none;
}
.add_card_details--type[data-type=visa] .mastercard {
  display: none;
}
.add_card_details--type[data-type=visa] .visa {
  display: block;
}
.add_card_details--type[data-type=mastercard] .mastercard {
  display: block;
}
.add_card_details--type[data-type=mastercard] .visa {
  display: none;
}
.add_card_details--type img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.add_card_details .reject-btn {
  background: transparent;
  border: 2px solid #5E97FF;
  color: #5E97FF;
  transition: all 0.4s;
}
.add_card_details .reject-btn:hover {
  background-color: #5E97FF;
  color: #fff;
}
.add_card_details .resolve-btn {
  background: #5E97FF;
  border: 2px solid #5E97FF;
  color: #fff;
  transition: all 0.4s;
}
.add_card_details .resolve-btn:hover {
  background-color: #fff;
  color: #5E97FF;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block !important;
  z-index: -1;
}

.__error_process,
.__successfully_process {
  display: flex !important;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.__error_process:not(.active),
.__successfully_process:not(.active) {
  display: none !important;
}

@media only screen and (max-width: 1439px) {
  .settings-page {
    padding-top: 14.227vw;
  }
  .settings .container {
    max-width: 79.116vw;
  }
  .settings {
    padding-top: 4.858vw;
    padding-bottom: 6.94vw;
  }
  .settings .container {
    max-width: 1140px;
  }
  .settings_breadcrumbs {
    padding-bottom: 1.041vw;
  }
  .settings_breadcrumbs li {
    padding-left: 0.694vw;
  }
  .settings_breadcrumbs a {
    font-size: 1.1798vw;
    line-height: 1.4574vw;
  }
  .settings_breadcrumbs a:after {
    padding-left: 0.694vw;
  }
  .settings_title {
    font-size: 2.7066vw;
    line-height: 3.3312vw;
    padding-bottom: 0.347vw;
  }
  .settings_subtitle {
    font-size: 1.735vw;
    line-height: 2.082vw;
    padding-bottom: 2.776vw;
  }
  .gigs_list {
    margin-top: 3.47vw;
  }
}

/*# sourceMappingURL=main.css.map */
